<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a class="anchor-tag" target="_blank" href="https://www.instagram.com/_mdfawzaan1_/?hl=en"><i class="fa-brands fa-linkedin"></i></a> 
            <a class="anchor-tag" target="_blank" href="https://www.instagram.com/_mdfawzaan1_/?hl=en"><i class="fa-brands fa-square-instagram"></i></a>
            <a class="anchor-tag" target="_blank" href="https://www.instagram.com/_mdfawzaan1_/?hl=en"><i class="fa-brands fa-square-x-twitter"></i></a>
        </div>
        <div style="font-size: 1.5rem;" > <b>WanderLust</b> </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy&Terms</a>
        </div>
    </div>
</footer>